.competition-card {
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  margin: 16px 16px;
}

.competition-header {
  display: flex;
  flex-direction: row;
  padding: 6px 10px;
  border-bottom: 1px solid #f0f0f0;
  align-items: center;
}

.competition-logo {
  width: 18px;
  height: 18px;
  margin-right: 12px;
}

.competition-title {
  font-size: 12px;
  font-weight: 600;
  height: fit-content;
}

.competition-content {
  padding: 0;
}
