/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.container strong {
  font-size: 20px;
  line-height: 26px;
}

.container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}


/* Style for the toggle container */
.contain-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
}

/* Ensure the toggle label is properly aligned */
.contain-toggle::part(label) {
  margin-right: 8px;
  display: flex;
  align-items: center;
}


.container h2 {
  margin-bottom: 16px;
  color: var(--ion-color-primary);
}

.calendar-modal-content {
  --background: var(--ion-background-color);
  display: flex;
  justify-content: center;
  padding: 20px;
}

ion-datetime {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  --background: var(--ion-background-color);
  border-radius: 8px;
}
.date-header {
  background-color: var(--app-background);
  padding: 12px 16px;
  border-bottom: 1px solid var(--border-color);
  /* margin:0 */
}

.date-title {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-primary);
  margin: 0;
}

.match-count {
  font-size: 14px;
  color: var(--text-secondary);
  margin-top: 2px;
}
